:root {
    --primary-color:  #564BF2;
    --secondary-color: #16D3E0;
    --accent1-color: #4B9DA3;
    --accent2-color: #E89133;

}

header {
    display: grid;  /* required*/
    grid-template-columns: 300px 1fr ;
    max-width: 1200px;
    align-items: center;
}

header img {
   margin: 1rem 5rem 1rem 5rem;
    width: 120px;
    height: auto;
    
}

.main-nav {
    display: flex; /* required*/
    flex-wrap: wrap;
    list-style: none;
    font-family: dosis;
    font-weight: 500;
       
}

.main-nav li {
    flex: 0.5 0.5 auto;
    
}

.main-nav a {
    
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.3rem;
 
}
.main-nav a:hover {
    color: var(--accent2-color);

}

h1 {
    font-family: "Libre Baskerville";
    font-size: 3rem;
    font-weight:800;
    color: var(--primary-color);
    padding: 10px;
    text-transform: uppercase;
    
}

h2 {
    font-family: "Libre Baskerville";
    font-size: 1.5rem;
    font-weight:bold;
        color: var(--secondary-color);
    padding: 10px;    
    text-transform: uppercase;
}

p {
    font-family: "Dosis";
    font-size: 1rem;
    font-weight: lighter;
    padding: 10px;
    color: var(--accent2-color);
}


.hero {
    display: block;
    margin-top: 30px;
    /* background-image: url("../images/hero_transparency_1024.png"); removed from here and added in html*/
    width: 100%;
    height: 100vh;
    position: relative; /* this is required on the assigment, don`t change*/
    
 
        
}

.hero img.background { /* this sets only the main image as if it was a background*/
    
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 80%;
    z-index: -1; /* Sends it behind the content */
    background-size: cover;
    
}


.hero h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    background-color: rgba(25, 25, 27, 0.597);
    font-weight: 200;
    position:absolute;  /* this is required on the assigment*/ 
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.hero article {
    color: var(--primary-color);
    background-color: #0aa2ad87;
    position: absolute;  /* this is required on the assigment*/
    text-align: right;
    width: 70%; 
    height: auto;
    align-self: center; 
    box-sizing: border-box;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    
} 
 
.hero img { 
    width: auto; 
    height: 150px; 
    float: right; 
    position: relative;
    padding: 20px;
}

.hero p {
    color: white;
}

/* ------------------------------------------------------------------------------------*/
.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px;
    max-width: 90%;
    margin: auto;
}

.history h2 {
    font-weight: bold;
    text-align: center;
}

.history article {
    display:block;
}

.history img {
    float: none;
    position: absolute;
    width: 20%;
    height: auto;
    padding: 10px;
    border-radius: 15%;
    margin-right: 15px;
    margin-left: 400px;
    margin-top: 10px;
    }

.history p {
    margin: 0 10px;
    line-height: 1.4rem;
}



/* ------------------------------------------------------------------------------------*/

.adventure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.adventure h2 {
    text-align: center;
}

.adventure section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;

}
.adventure figure {
    text-align: center;
    max-width: 15%;
    margin: 10px;
}

.adventure img {
    width: 100%;
    border-radius: 10%;
}

.adventure figcaption {
    font-family: Libre Baskerville;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
}

/* ------------------------------------------------------------------------------------*/
h1 {
    font-family: "Libre Baskerville";
    font-size: 3rem;
    font-weight:800;
    color: var(--primary-color);
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    
}

.teamheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background-color: var(--secondary-color);
}

.teamheader h2 {
    font-family: Libre Baskerville;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.team {
    display:flex;
    align-items: center;
    text-align: center;
    padding: 10px;
   
}

.team img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
}

.team figcaption {
    font-family: Libre Baskerville;
    font-size: 20px;
    font-weight: 600;
    color:rgb(27, 21, 55);
}

.team p {
    font-family: Dosis;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color:black;
    
}

.companyinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    margin-top: 70px;   
    
}

.companyinfo img {
    width: 60%;
    border-radius: 5%;
    
}

.companyinfo h2 {
    font-family: Libre Baskerville;
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
}

.companyinfo p {
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    padding: 0 40px 0 40px;
    color: var(--accent2-color);
}

.companyinfo .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.companyinfo .contact img {
    width: 20px;
    height: auto;
    
}
/* ------------------------------------------------------------------------------------*/

.final-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    padding: 40px 0 40px 0;
        
}


.contact-form {
    
    
    text-align: left;
    margin-top: 20px;
    padding: 40px;
    font-family: dosis;
    width: 100%;
    
}

.contact-form h2 {
    font-family: Libre Baskerville;
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
    
}


.contact-form label[for="purpose"] {
    font-size: 1.5em;
    font-weight: 200;
    
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.contact-form button {
    background-color: var(--primary-color);
    color: white;
    width: 80%;
    height: 100px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.map {
   
    align-items: center;
    text-align: center;
    margin-top: 70px;
    width: 100%;
   
    
}

/* ------------------------------------------------------------------------------------*/

footer {
    display: grid;
    grid-template-columns: 80% 1fr;
    margin-top: 100px;
    padding: 70px 0 70px 0;
    background-color: var(--secondary-color);
    align-items: center;
}
footer p {
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.social-icons{
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 30px;
}