:root {
    --primary-color:  #564BF2;
    --secondary-color: #16D3E0;
    --accent1-color: #4B9DA3;
    --accent2-color: #E89133;

}

h1 {
    font-family: "Libre Baskerville";
    font-size: 3rem;
    font-weight:800;
    color: var(--primary-color);
    padding: 10px;
    text-transform: uppercase;
    
}

h2 {
    font-family: "Libre Baskerville";
    font-size: 1.5rem;
    font-weight:bold;
        color: var(--secondary-color);
    padding: 10px;    
    text-transform: uppercase;
}

p {
    font-family: "Dosis";
    font-size: 1rem;
    font-weight: lighter;
    padding: 10px;
    color: var(--accent2-color);
}


 .main-nav a {        /*I want to remove the underline only from the main navigation links */

        text-decoration: none; 
    

}



.hero {
    display: block;
    margin-top: 30px;
    /* background-image: url("../images/hero_transparency_1024.png"); removed from here and added in html*/
    width: 100%;
    height: 100vh;
    position: relative; /* this is required on the assigment, don`t change*/
    
 
        
}

.hero img.background { /* this sets only the main image as if it was a background*/
    
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 80%;
    z-index: -1; /* Sends it behind the content */
    background-size: cover;
    
}


.hero h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    background-color: rgba(25, 25, 27, 0.597);
    font-weight: 200;
    position:absolute;  /* this is required on the assigment*/ 
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.hero article {
    color: var(--primary-color);
    background-color: #0aa2ad87;
    position: absolute;  /* this is required on the assigment*/
    text-align: right;
    width: 70%; 
    height: auto;
    align-self: center; 
    box-sizing: border-box;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    
} 
 
.hero img {
    
    width: auto; 
    height: 150px; 
    float: right; 
    position: relative;
    padding: 20px;
       
     
}

.social-icons {
    text-decoration: none; 
}

.hero p {
    color: white;
}