:root {
    --page-main-color : rgb(0, 119, 255);
}

nav {
    background-color: var(--page-main-color); /* changed to a variable*/
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--page-main-color); /* changed to a variable*/
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(49, 41, 41);
    padding: 2px;
    box-shadow: 0 0 5px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 2rem;
    border: 1px solid  rgba(128, 128, 128, 0.016);
    padding: 1rem;
    background-color: var(--page-main-color); /* changed to a variable*/
    color: rgb(255, 255, 255);
    text-align: center;
    }

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid rgb(44, 44, 45);
    text-align: center;
    
}